body {
	display: flex;
	justify-content: center;
}
select {
	list-style: none;
	height: auto;
	width: 100px;
	padding-left: 0px;
	border: 1px solid black;
	margin: 10px;
}
ul {
	list-style: none;
	height: 80px;
	width: 100px;
	padding-left: 0px;
	border: 1px solid grey;
	margin: 10px;
}
option {
	height: 20px;
}
ul:nth-of-type(2) {
	background-color: grey;
}
button {
	height: 20px;
	width: 100px;
	background-color: lightgrey;
	color: hotpink;
}
