li {
	list-style-type: none;
}
.container1 {
	height: 300px;
	display: flex;
	background-color: sandybrown;
	align-items: center;
	justify-content: flex-start;
	padding: 0px;
}
.container1 .item {
	width: 100px;
	height: 100px;
	margin-right: 5px;
	background-color: rgb(158, 0, 255);
}

.container2 {
	height: 300px;
	display: flex;
	background-color: sandybrown;
	align-items: center;
	justify-content: space-between;
	padding: 0px;
}
.container2 .item {
	width: 100px;
	height: 100px;
	background-color: rgb(158, 0, 255);
}
.container3 {
	height: 300px;
	display: flex;
	background-color: sandybrown;
	align-items: flex-end;
	justify-content: flex-end;
	padding: 0px;
}
.container3 .item {
	width: 100px;
	height: 100px;
	margin-left: 5px;
	background-color: rgb(158, 0, 255);
}
