<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Reddit</title>
		<link rel="stylesheet" href="../assets/style.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<header><h1>LUNA</h1></header>

		<div class="left main"></div>
		<div class="right main">
			<button type="button" id="submit">Submit New Post</button>
			<div class="about">
				<div>
					<h3><strong>ABOUT</strong> Luna</h3>
				</div>

				<div>
					<p>Share & discuss informative content on:</p>
					<ul>
						<li>Rawenclaw</li>
						<li>Lovegoods</li>
						<li>Dirrigible Plums</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
	<script src="./view-posts-scripts.js"></script>
</html>
