.purple {
	width: 50px;
	height: 50px;
	background-color: rgb(158, 0, 255);
}
.container {
	width: 600px;
	height: 300px;
	display: flex;
}
.container1 .item {
	flex-grow: 1;
}
.container2 {
	width: 600px;
	height: 100px;
	display: flex;
}
.container2 .item {
	flex-grow: 1;
}
.container2 .yellow {
	flex-grow: 2;
}
.container3 {
	width: 600px;
	height: 100px;
	display: flex;
	flex-direction: row-reverse;
}
.container3 .item {
	flex-basis: 25%;
}
.container3 .yellow {
	flex-basis: 50%;
}
.container4 {
	width: 600px;
	height: 400px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.container4 .item {
	flex-grow: 1;
}
.container4 .yellow {
	order: 1;
	flex-grow: 2;
}
