.container {
	width: 600px;
	height: 300px;
	display: flex;
	background-color: sandybrown;
	align-items: center;
	justify-content: center;
}
.purple {
	width: 100px;
	height: 100px;
	background-color: rgb(158, 0, 255);
}
